body {
    font-family: 'Work Sans', sans-serif;
    border: 1px solid black;
}

h1 {
    font-weight: 900;
    font-size: 5em;
    border: 1px solid black;

}

h3 {
    font-weight: 200;
    font-size: 2em;
    border: 1px solid black;

}

img {
    border: 1px solid black;
    width: 20em;
    border-radius: 100%;
}